@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;300;400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: Poppins;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


